<div class="g_6 contents_header">
  <h3 class="i_16_dashboard tab_label">Dashboard</h3>
</div>

<div class="g_12 separator"><span></span></div>

<%= render "shared/show_flash" %>

<div class="g_4">
  <div class="widget_header">
    <h4 class="widget_header_title wwIcon i_16_ui">Contacts</h4>
  </div>
  <div class="widget_contents">
    <div class="banner-box">
      <span class="highlight-number">
        <%= @total_contacts_count %>
      </span>
      <span class="small-text">
        ACTIVE<br/>CONTACTS
      </span>
      <div class="clear"></div>
    </div>
    <div class="contacts-stat">
      <%= pluralize(@text_contacts_count, "Texting Contacts") %>
      <br/>
      <%= pluralize(@call_contacts_count, "Calling Contacts") %>
    </div>
    <div class="link">
      <%= image_tag("dashboard/custom/add_contacts.png") %>
      <%= link_to "Add and update contacts", contacts_path %>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="g_4"></div>
<div class="g_4">
  <div class="widget_header">
    <h4 class="widget_header_title wwIcon i_16_tabs">Billing Summary</h4>
  </div>
  <div class="widget_contents">
    <div class="banner-box">
      <div class="balance">
        <%= "$#{"%.3f" % current_user.current_balance}" %>
        Current Balance
      </div>
    </div>
    <div class="balance-stat">
      It will cost
      $<%= "%.3f" % @cost_for_text %>
      to send a text to your contacts<br/>
      It will cost
      $<%= "%.3f" % @cost_for_call %>
      to send a call to your contacts
    </div>
    <div class="link">
      <%= image_tag("dashboard/custom/add_contacts.png") %>
      <%= link_to "Add Funds to your Account", billing_path %>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div id="recent-activity-table">
  <%= render "recent_activity" %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".fancybox").fancybox();
    $("#recent-activity-table table.datatable thead tr th:first").click();
  })
</script>