<style type="text/css">
  .widget_contents .banner-box{
    background-color: #E6F3D8;
    border: 1px solid #CCDDBA;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    height: 30px;
  }
  .widget_contents .banner-box span.highlight-number{
    color: #5E8238;
    font-size: 25px;
    font-weight: bold;
    float: left;
  }
  .widget_contents .banner-box span.small-text{
    color: #748265;
    float: left;
    font-size: 8px;
    line-height: 10px;
    margin-left: 5px;
    margin-top: 6px;
  }
  .widget_contents .banner-box .balance{
    font-size: 14px;
    padding-top: 8px;
    text-align: center;
    font-weight: bold;
  }
  .widget_contents .contacts-stat{
    font-size: 17px;
    line-height: 29px;
    padding-left: 10px;
    padding-top: 8px;
  }
  .widget_contents .link{
    margin-top: 10px;
    padding-left: 5px;
  }
  .widget_contents .link img{
    float: left;
  }
  .widget_contents .link a{
    color: #007BBF;
    font-size: 13px;
    text-decoration: underline;
    margin-left: 8px;
    float: left;
  }
  .widget_contents .balance-stat{
    font-size: 12px;
    line-height: 16px;
    padding-left: 8px;
    padding-top: 3px;
  }
</style>

<div class="g_6 contents_header">
  <h3 class="i_16_dashboard tab_label">Dashboard</h3>
</div>

<div class="g_12 separator"><span></span></div>

<div class="g_4">
  <div class="widget_header">
    <h4 class="widget_header_title wwIcon i_16_ui">Contacts</h4>
  </div>
  <div class="widget_contents">
    <div class="banner-box">
      <span class="highlight-number">
        1702
      </span>
      <span class="small-text">
        ACTIVE<br/>CONTACTS
      </span>
      <div class="clear"></div>
    </div>
    <div class="contacts-stat">
      399 Texting Contacts<br/>
      402 Calling Contacts
    </div>
    <div class="link">
      <%= image_tag("dashboard/custom/add_contacts.png") %>
      <%= link_to "Add and update contacts", "#" %>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="g_4"></div>
<div class="g_4">
  <div class="widget_header">
    <h4 class="widget_header_title wwIcon i_16_tabs">Billing Summary</h4>
  </div>
  <div class="widget_contents">
    <div class="banner-box">
      <div class="balance">
        <%= "$#{current_user.current_balance}" %>
        Current Balance
      </div>
    </div>
    <div class="balance-stat">
      It will cost $8.000 to send a text to your contacts<br/>
      It will cost $4.000 to send a call to your contacts
    </div>
    <div class="link">
      <%= image_tag("dashboard/custom/add_contacts.png") %>
      <%= link_to "Add Funds to you Account", "#" %>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div class="g_12">
  <div class="widget_header wwOptions">
    <h4 class="widget_header_title wwIcon i_16_data">Recent Activity</h4>
    <div class="w_Options i_16_settings">
    </div>
  </div>
  <div class="widget_contents noPadding">
    <table class="datatable tables">
      <thead>
        <tr>
          <th>Date</th>
          <th>Call or Text</th>
          <th>List Sent to</th>
          <th>% of Completed</th>
          <th>Cost</th>
          <th>View Progress</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dec 14, 2012</td>
          <td>230</td>
          <td>115</td>
          <td>50</td>
          <td>$3.400</td>
          <td>
            <%= link_to "view", "#" %>
          </td>
        </tr>
        <tr>
          <td>Dec 15, 2012</td>
          <td>250</td>
          <td>125</td>
          <td>50</td>
          <td>$4.400</td>
          <td>
            <%= link_to "view", "#" %>
          </td>
        </tr>
        <tr>
          <td>Dec 16, 2012</td>
          <td>230</td>
          <td>115</td>
          <td>50</td>
          <td>$3.400</td>
          <td>
            <%= link_to "view", "#" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>