<div class="g_6 contents_header">
  <h3 class="i_16_login tab_label">Profile</h3>
</div>

<div class="g_12 separator"><span></span></div>

<%= render "shared/show_flash" %>

<div class="g_6">
  <div id="show-profile">
    <div class="widget_header">
      <h4 class="widget_header_title wwIcon i_16_valid" style="float:left">
        Profile Information
      </h4>
      <div style="float:right">
        <%= link_to "Edit", "#", :id => "profile-edit-button", :class => "simple_buttons", :style => "padding: 0 15px 0 15px;" %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="widget_contents noPadding">
      <table class="tables">
        <tr>
          <td>Organization Name</td>
          <td>
            <%= @user.organization_name %>
          </td>
        </tr>
        <tr>
          <td>Organization Type</td>
          <td>
            <%= @user.organization_type %>
          </td>
        </tr>
        <tr>
          <td>Contact Name</td>
          <td>
            <%= @user.name %>
          </td>
        </tr>
        <tr>
          <td>Contact Email</td>
          <td>
            <%= @user.email %>
          </td>
        </tr>
        <tr>
          <td>Contact Phone</td>
          <td>
            <%= @user.phone %>
          </td>
        </tr>
        <tr>
          <td>Time Zone</td>
          <td>
            <%= @user.time_zone %>
          </td>
        </tr>
        <tr>
          <td>Your RoboCent Phone Number</td>
          <td>
            <% if @user.twilio_phone_number %>
              <%= formatted_number @user.twilio_phone_number.phone_number %>
            <% elsif @user.subscription.plan.recurring %>
              <span class="label">
                <%= link_to "Create Number", "javascript:;", :onclick => "$('#twilio-number-form').toggle();" %>
              </span>
            <% else %>
              <span class="label">
                Please upgrade your account to create Regular phone number.
              </span>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="edit-profile" style="display:none">
    <div class="widget_header">
      <h4 class="widget_header_title wwIcon i_16_valid" style="float:left">
        Edit Profile Information
      </h4>
      <div style="float:right">
        <%= link_to "Close", "#", :id => "profile-close-button", :class => "simple_buttons", :style => "padding: 0 15px 0 15px;" %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="widget_contents noPadding">
      <%= form_for(@user) do |f| %>
        <table class="tables">
          <tr>
            <td>Organization Name</td>
            <td>
              <%= f.text_field :organization_name, :class => "simple_field", :required => true %>
            </td>
          </tr>
          <tr>
            <td>Organization Type</td>
            <td>
              <%= f.select :organization_type, Organization::NAMES, {:prompt => "Select"}, :class => "simple_form" %>
            </td>
          </tr>
          <tr>
            <td>Contact Name</td>
            <td>
              <%= f.text_field :name, :class => "simple_field", :required => true %>
            </td>
          </tr>
          <tr>
            <td>Contact Email</td>
            <td>
              <%= f.text_field :email, :class => "simple_field", :required => true %>
            </td>
          </tr>
          <tr>
            <td>Contact Phone</td>
            <td>
              <%= f.text_field :phone, :class => "simple_field", :required => true %>
            </td>
          </tr>
          <tr>
            <td>Time Zone</td>
            <td>
              <%= f.select :time_zone, UsState::TIME_ZONES, { }, :class => "simple_form", :required => true %>
            </td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <%= f.submit "Update Profile", :class => "submitIt simple_buttons" %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>

<div class="g_6">
  <div class="widget_header">
    <h4 class="widget_header_title wwIcon i_16_valid">
      Change Password
    </h4>
  </div>
  <div class="widget_contents noPadding">
    <%= form_for(@user, :url => update_password_path) do |f| %>
      <table class="tables">
        <tr>
          <td>New Password</td>
          <td>
            <%= f.password_field :password, :class => "simple_field", :required => true %>
          </td>
        </tr>
        <tr>
          <td>Confirm New Password</td>
          <td>
            <%= f.password_field :password_confirmation, :class => "simple_field", :required => true %>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <%= f.submit "Update Password", :class => "submitIt simple_buttons" %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>

<div class="g_6">
  <span class="label">
    <br/>
    You may edit your profile information at anytime. To view your billing information,
    add credits or change your account status, please visit the
    <%= link_to "billing page", billing_path %>.
    <br/><br/>
    To request a new RoboCent phone number, please email Info@RoboCent.com with your request.
  </span>
</div>

<% if current_user.subscription.plan.recurring and @user.twilio_phone_number.blank? %>
  <div class="g_12" id="twilio-number-form" style="display:none">
    <div class="widget_header">
      <h4 class="widget_header_title wwIcon i_16_valid">
        Create RoboCent Number
      </h4>
    </div>
    <div class="widget_contents noPadding">
      <div class="line_grid">
        <div class="g_12">
          <span class="label">
            To create a regular phone number, please enter the area code below.
          </span>
        </div>
      </div>
      <%= form_tag welcome_pop_up_submit_path, :method => :post, :id => "welcome-pop-up-form" do %>
        <%= fields_for TwilioPhoneNumber.new do |t| %>
          <div class="line_grid">
            <div class="g_2">
              <span class="label">Area Code : </span>
            </div>
            <div class="g_2">
              <div class="filed_error" id="error_list_name"></div>
              <%= t.text_field :area_code, :maxlength => "3", :class => "simple_field" %>
            </div>
            <div class="g_2">
              <div id="ajax-loader" style="width: 33px;">
                <%= image_tag("public_images/loading.gif", :style => "display:none") %>
              </div>
            </div>
            <div class="g_2">
              <span class="label">
                Select Number :
              </span>
            </div>
            <div class="g_4">
              <div class="filed_error" id="error_list_shortcode_keyword"></div>
              <span id="twilio_phone_number_select">
                <%= t.select :phone_number, "", {:prompt => "Select Number" }, :class => "simple_form" %>
              </span>
            </div>
          </div>
        <% end %>
        <div class="line_grid">
          <div class="g_4"></div>
          <div class="g_2">
            <%= submit_tag "Save Settings", :class => "submitIt simple_buttons" %>
          </div>
          <div class="g_2">
            <div class="ajax-loading" style="display:none">
              <%= image_tag("dashboard/Icons/Load/load-8.gif") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#profile-edit-button").click(function(){
      $("#show-profile").hide();
      $("#edit-profile").show();
      return false;
    });
    $("#profile-close-button").click(function(){
      $("#edit-profile").hide();
      $("#show-profile").show();
      return false;
    });
  })
</script>

<style type="text/css">
  .simple_field{
    width: 200px;
  }
</style>