<div style="width:600px;">
  <div class="g_12">
    <div class="widget_header">
      <h4 class="widget_header_title wwIcon i_16_message">Send Message</h4>
    </div>
    <div class="widget_contents noPadding">
      <%= form_for @new_sms do |f| %>
        <div class="line_grid">
          <div class="g_3">
            <span class="label">To<span class="must">*</span></span>
          </div>
          <div class="g_9">
            <%= f.text_field :to, :value => @sms_message.from, :class => "simple_field", :required => true %>
          </div>
        </div>
        <div class="line_grid">
          <div class="g_3"><span class="label">From<span class="must">*</span></span></div>
          <div class="g_9">
            <%= f.select :from, [current_user.twilio_phone_number.phone_number, "shortcode"], {}, :class => "simple_form" %>
          </div>
        </div>
        <div class="line_grid">
          <div class="g_3"><span class="label">Message<span class="must">*</span></span></div>
          <div class="g_9">
            <%= f.text_area :body, :class => "simple_field", :required => true %>
            <div class="field_notice" id="content_length">0 Characters</div>
          </div>
        </div>
        <div class="line_grid">
          <div class="g_3"></div>
          <div class="g_9">
            <%= f.submit "Send", :class => "submitIt simple_buttons" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $("#new_sms_message select").uniform();

    $("form#new_sms_message").submit(function(){
      var action = $(this).attr('action');
      $.ajax({
        type: 'POST',
        url: action,
        data: $(this).serialize(),
        dataType: "script"
      });
      $("#inbox-table .ajax-loading").show();
      $.fancybox.close();
      return false;
    });
  })
</script>