<div id="sub_content">
    	<div class="container">
        	<div class="what_do">
                        <%= image_tag "smarthost/what_do_img.jpg", :alt => "", :border => "0" %>
                <div class="text">
                	<h2><span>What</span> We Do</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took  					a galley of type and scrambled it to make a type specimen book.</p>
                    <ul>
                    	<li class="tick">It has survived not only five centuries.</li>
                        <li class="tick">but also the leap into electronic typesetting, remaining essentially unchanged.</li>
                        <li class="tick">electronic typesetting, remaining essentially unchanged. </li>
                        <li class="tick">It has survived not only five centuries, but also the leap into electronic typesetting, remaining.</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="light_bg">
        	<div class="container">
 	            <div class="our_mission">
                    <%= image_tag "smarthost/mission_img.jpg", :alt => "", :border => "0" %>
                    <div class="text">
                        <h2>Our <span>Mission</span></h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer  	 						took a galley of type and scrambled it to make a type specimen book.</p>
                        <ul>
                            <li class="tick">It has survived not only five centuries.</li>
                            <li class="tick">but also the leap into electronic typesetting, remaining essentially unchanged.</li>
                            <li class="tick">electronic typesetting, remaining essentially unchanged. </li>
                            <li class="tick">It has survived not only five centuries, but also the leap into electronic typesetting, remaining.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="white_bg">
        	<div class="container">
            	<div class="team">
                	<h2>Meet the <span>Team</span></h2>
                    <p>Our Team Members</p>

                    <div class="member_sec">
                        <%= image_tag "smarthost/team_member_1.png", :alt => "", :border => "0" %>
                        <p class="ceo">kailoon</p>
                        <span>Founder / CEO</span>
                        <div class="social">
                        	<ul>
                            	<a class="tw" href="#."></a>
								<a class="fb" href="#."></a>
                                <a class="db" href="#."></a>
                                <a class="gp" href="#."></a>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="member_sec">
                        <%= image_tag "smarthost/team_member_2.png", :alt => "", :border => "0" %>
                        <p>Nicole</p>
                        <span>Marketing Manager</span>
                        <div class="social">
                        	<ul>
                            	<a class="tw" href="#."></a>
								<a class="fb" href="#."></a>
                                <a class="db" href="#."></a>
                                <a class="gp" href="#."></a>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="member_sec">
                        <%= image_tag "smarthost/team_member_3.png", :alt => "", :border => "0" %>
                        <p>jhon smith</p>
                        <span>Marketing Manager</span>
                        <div class="social">
                        	<ul>
                            	<a class="tw" href="#."></a>
								<a class="fb" href="#."></a>
                                <a class="db" href="#."></a>
                                <a class="gp" href="#."></a>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="member_sec last">
                        <%= image_tag "smarthost/team_member_4.png", :alt => "", :border => "0" %>
                        <p>Elebana</p>
                        <span>Executive Manager</span>
                        <div class="social">
                        	<ul>
                            	<a class="tw" href="#."></a>
								<a class="fb" href="#."></a>
                                <a class="db" href="#."></a>
                                <a class="gp" href="#."></a>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>

                </div>
            </div>
        <div class="clear"></div>
        </div>

    </div>