<% title " - Contact Us" %>

<div id="sub_content">
  <div class="container">
    <div class="info">
      <h1>Contact Information</h1>
      <div style="height: margin-top:30px;"></div>
      <iframe width="100%" height="386" frameborder="0" scrolling="no"
              marginheight="0" marginwidth="0"
              src="http://maps.google.ca/maps?f=q&source=s_q&hl=en&geocode=&q=111+Granby+Street,+Norfolk,+VA+23510&sll=36.846824,-76.292000&sspn=0.002215,0.005284&ie=UTF8&ll=36.846824,-76.292000&spn=0.002215,0.005284&z=18&iwloc=near&output=embed">
      </iframe>
    </div>

    <div class="form">
      <div id="div_success"></div>
      <h1>Leave us a message</h1>
      <div class="success" style="display:none;">Email has submitted.</div>
      <div id="error" class="warning" style="display:none;"></div>

      <%= form_for(@contact_us, :url => contact_us_submit_path, :remote => true) do |f| %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, :placeholder => "(never published)" %>
        </div>
        <div class="field">
          <%= f.label :content, "Message" %>
          <%= f.text_area :content %>
        </div>
        <%= f.submit "", :class => "btn-org banner_btn contact" %>
        <%= image_tag("smarthost/loading.gif", :class => "ajax-loading", :style => "display:none") %>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>

  <div class="white_bg">
    <div class="container">
      <div class="get_touch">
        <ul>
          <li class="location">RoboCent Inc, 111 Granby Street, Norfolk, VA 23510</li>
          <li class="email">info@robocent.com</li>
          <li class="mobile">(+1) 757-821-2121</li>
        </ul>
      </div>

      <div class="contact_social">
        <a href="#." class="gp" onclick="return SnapABug.startLink();"></a>
        <a href="http://www.twitter.com/RoboCent" class="tw"></a>
        <a href="http://www.facebook.com/RoboCent" class="fb"></a>
      </div>

    </div>
    <div class="clear"></div>
  </div>
</div>