<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <title>RoboCent</title>
  </head>
  <body style="background-color: #eaeaea">
    <div style="width: 650px;margin: auto;">
      <div style="display: inline-block; border: 1px solid #ffffff;width: 650px;border-radius:7px;box-shadow:0px 2px #cfcfcf;background-color: #ffffff ">
        <%= link_to image_tag("promo_email/icon.png", :style => "margin: 23px 0 0 6px"), root_url %>
        <span style="display: inline-block; font-family: Arial; font-weight: bold; font-size: 18px; color: #a6a2a2;margin-top: -10px;margin-left: 20px;margin-bottom: 10px;">Call and Text Notifications for 1.3 - 2.0¢ per Message!</span>
      </div>
      <div style="display: inline-block;text-align: center;width: 650px;margin: 17px 0 17px 0;">
        <%= image_tag("promo_email/slogan.png") %>
      </div>
      <div style="display: inline-block; border: 1px solid #ffffff;width: 650px;border-radius:7px;box-shadow:0px 2px #cfcfcf;background-color: #ffffff; margin: 0 0 17px;">
        <div style="display: inline-block;width: 421px; float: left;margin: 26px 0 26px 20px;">
          <span style="font: Italic 18px arial; color: #777777;">
            A cost-effective and user-friendly platform <br />
            that gets results.
          </span>
        </div>
        <div style="display: inline-block;width: 161px; float: left;margin:23px 0 0 17px;">
          <%= link_to image_tag("promo_email/button_learn_more.png"), root_url %>
        </div>
        <div style="clear: both"></div>
      </div>

      <div style="display: inline-block; border: 1px solid #ffffff;width: 650px;border-radius:7px;box-shadow:0px 2px #cfcfcf;background-color: #ffffff; margin: 0 0 31px;">
        <div style="display: inline-block;width: 188px; float: left;margin: 0 0 0 21px;margin-top: 27px;">
          <div>
            <%= image_tag("promo_email/icon_clock.png", :style => "display: inline-block;float: left") %>
            <span style="display: inline-block;float: left; font: bold 14px arial; color: #f15a23;margin: 0 0 0 13px;">
              Real-Time<br /> Analytics
            </span>
            <div class="clear"></div>
          </div>
          <span style="display: inline-block;font: 12px arial;color: #777777;line-height:135%;margin-top: 11px;">
            Track the results of your texts
            and calls in real-time; full analytic
            reports come standard with
            every message.
          </span>

        </div>
        <div style="display: inline-block;width: 167px; float: left;margin: 0 0 0 21px;margin-top: 27px;">
          <div>
            <%= image_tag("promo_email/icon_engine.png", :style => "display: inline-block;float: left") %>
            <span style="display: inline-block;float: left; font: bold 14px arial; color: #f15a23;margin: 0 0 0 13px;">
              Streamlined <br /> Dashboard
            </span>
            <div class="clear"></div>
          </div>
          <span style="display: inline-block;font: 12px arial;color: #777777;line-height:135%;margin-top: 11px;">
            Easily control every aspect of
            your calls and texts through
            our user-friendly dashboard.
          </span>

        </div>
        <div style="display: inline-block;width: 200px; float: left;margin: 0 0 0 37px;margin-top: 27px;">
          <div>
            <%= image_tag("promo_email/icon_question.png", :style => "display: inline-block;float: left") %>
            <span style="display: inline-block;float: left; font: bold 14px arial; color: #f15a23;margin: 0 0 0 13px;">
              Live Client Support
            </span>
            <div class="clear"></div>
          </div>
          <span style="display: inline-block;font: 12px arial;color: #777777;line-height:135%;margin-top: 11px;">
            Chat with a Client Success
            Specialist at anytime
            via live chat, phone or email!
          </span>
        </div>

        <div style="clear:both;"></div>

        <div style="display: inline-block;width: 188px; float: left;margin: 17px 0 0 21px">
          <div>
            <%= image_tag("promo_email/icon_hand.png", :style => "display: inline-block;float: left") %>
            <span style="display: inline-block;float: left; font: bold 14px arial; color: #f15a23;margin: 0 0 0 13px;">
              Text to Join
            </span>
            <div class="clear"></div>
          </div>
          <span style="display: inline-block;font: 12px arial;color: #777777;line-height:135%;margin-top: 11px;">
            Customers can easily text a
            keyword to subscribe to
            your business' updates!
          </span>

        </div>
        <div style="display: inline-block;width: 167px; float: left;margin: 17px 0 0 21px">
          <div>
            <%= image_tag("promo_email/icon_phone.png", :style => "display: inline-block;float: left") %>
            <span style="display: inline-block;float: left; font: bold 14px arial; color: #f15a23;margin: 0 0 0 13px;">
              Receive <br /> Feedback
            </span>
            <div class="clear"></div>
          </div>
          <span style="display: inline-block;font: 12px arial;color: #777777;line-height:135%;margin-top: 11px;margin-bottom: 5px;">
            All accounts come with a free
            phone number you can use to
            receive feedback and chat
            with customers.
          </span>

        </div>
        <div style="display: inline-block;width: 156px; float: left;margin: 17px 0 0 21px">
          <div>
            <%= image_tag("promo_email/icon_cloud_up.png", :style => "display: inline-block;float: left") %>
            <span style="display: inline-block;float: left; font: bold 14px arial; color: #f15a23;margin: 0 0 0 13px;">
              Try it for Free!
            </span>
            <div class="clear"></div>
          </div>
          <span style="display: inline-block;font: 12px arial;color: #777777;line-height:135%;margin-top: 28px;">
            All accounts come with a
            14 day free trial and 500
            free calls and texts!
            No commitments, no hassles.
          </span>

        </div>
        <div style="clear: both"></div>
      </div>

      <div style="display: inline-block; border: 1px solid #ffffff;width: 650px;border-radius:7px;box-shadow:0px 2px #cfcfcf;background-color: #ffffff; margin: 0 0 35px 0; ">
        <span style="display: inline-block;font: bold 18px arial;color: #f15a23; margin: 20px 0 0 23px;">
          Straight-Forward Pricing
        </span>
        <div style="font: 14px Arial;color: #777777; margin: 10px 0 10px 20px;">
          No hidden fees, contracts or surcharges -- simply a low monthly fee and 1.3 - 2.0¢ per Message
          sent. All plans come standard with a 14 day free trial and 500 free calls and texts.<br/>
          No commitment is required.
        </div>

        <div style="margin: 0 0 0 40px;width: 590px;border-bottom-style:dotted;border-width:1px; border-bottom-color: #A4A4A4;">
          <div style="width: 148px;height: 35px;display: inline-block;float: left">

          </div>
          <div style="text-align: center;width: 130px;;height: 35px;display: inline-block;float: left; font: 18px arial;color: #f15a23">
            Bronze
          </div>
          <div style="text-align: center;width: 140px;;height: 35px;display: inline-block;float: left; font: 18px arial;color: #f15a23">
            Silver
          </div>
          <div style="text-align: center;width: 130px;;height: 35px;display: inline-block;float: left; font: 18px arial;color: #f15a23">
            Gold
          </div>
          <div style="clear: both"></div>
        </div>

        <div style="margin: 0 0 0 40px;width: 590px;border-bottom-style:dotted;border-width:1px; border-bottom-color: #A4A4A4;">
          <div style="text-align: left;width: 148px;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 12px  arial;color:  #777777">
            Maximum Contacts
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            500
          </div>
          <div style="text-align: center;width: 140px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            1,000
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            10,000
          </div>
          <div style="clear: both"></div>
        </div>

        <div style="margin: 0 0 0 40px;width: 590px;border-bottom-style:dotted;border-width:1px; border-bottom-color: #A4A4A4;">
          <div style="text-align: left;width: 148px;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 12px  arial;color:  #777777">
            Texts and Calls Allowed
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            Unlimited
          </div>
          <div style="text-align: center;width: 140px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            Unlimited
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            Unlimited
          </div>
          <div style="clear: both"></div>
        </div>

        <div style="margin: 0 0 0 40px;width: 590px;border-bottom-style:dotted;border-width:1px; border-bottom-color: #A4A4A4;">
          <div style="text-align: left;width: 148px;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 12px  arial;color:  #777777">
            Text to Join
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            Included
          </div>
          <div style="text-align: center;width: 140px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            Included
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            Included
          </div>
          <div style="clear: both"></div>
        </div>

        <div style="margin: 0 0 0 40px;width: 590px;border-bottom-style:dotted;border-width:1px; border-bottom-color: #A4A4A4;">
          <div style="text-align: left;width: 148px;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 12px  arial;color:  #777777">
            Real-Time Dashboard
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            Included
          </div>
          <div style="text-align: center;width: 140px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            Included
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            Included
          </div>
          <div style="clear: both"></div>
        </div>

        <div style="margin: 0 0 0 40px;width: 590px;border-bottom-style:dotted;border-width:1px; border-bottom-color: #A4A4A4;">
          <div style="text-align: left;width: 148px;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 12px  arial;color:  #777777">
            Free Calls and Texts
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            500
          </div>
          <div style="text-align: center;width: 140px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            525
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            575
          </div>
          <div style="clear: both"></div>
        </div>

        <div style="margin: 0 0 0 40px;width: 590px;border-bottom-style:dotted;border-width:1px; border-bottom-color: #A4A4A4;">
          <div style="text-align: left;width: 148px;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 12px  arial;color:  #777777">
            14 Day Free Trial
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            Yes
          </div>
          <div style="text-align: center;width: 140px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            Yes
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            Yes
          </div>
          <div style="clear: both"></div>
        </div>

        <div style="margin: 0 0 0 40px;width: 590px;border-bottom-style:dotted;border-width:1px; border-bottom-color: #A4A4A4;">
          <div style="text-align: left;width: 148px;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 12px  arial;color:  #777777">
            Cost per Month
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            $5
          </div>
          <div style="text-align: center;width: 140px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            $9
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #474747">
            $19
          </div>
          <div style="clear: both"></div>
        </div>

        <div style="margin: 0 0 0 40px;width: 590px;border-bottom-style:dotted;border-width:1px; border-bottom-color: #A4A4A4;">
          <div style="text-align: left;width: 148px;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 12px  arial;color:  #777777">
            Cost per Message
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #f15a23">
            2&cent;
          </div>
          <div style="text-align: center;width: 140px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #f15a23">
            1.9&cent;
          </div>
          <div style="text-align: center;width: 130px;;height: 23px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #f15a23">
            1.7&cent;
          </div>
          <div style="clear: both"></div>
        </div>

        <div style="margin: 0 0 0 40px;width: 590px;">
          <div style="text-align: left;width: 148px;;padding: 12px 0 0;display: inline-block;float: left; font: 12px  arial;color:  #777777">

          </div>
          <div style="text-align: center;width: 130px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #f15a23">
            <%= link_to image_tag("promo_email/button_start_free_trial.png"), register_url %>
          </div>
          <div style="text-align: center;width: 140px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #f15a23">
            <%= link_to image_tag("promo_email/button_start_free_trial.png"), register_url %>
          </div>
          <div style="text-align: center;width: 130px;padding: 12px 0 0;display: inline-block;float: left; font: 14px arial;color: #f15a23">
            <%= link_to image_tag("promo_email/button_start_free_trial.png"), register_url %>
          </div>
        </div>
        <div style="font: 18px arial;color: #fa632c;display: inline-block;margin: 14px 0 28px 102px;" >
          Need Higher Volume Accounts? 
          <%= link_to "Click Here", pricing_url, :style => "color: #fa632c;" %>
          for more info.
        </div>
      </div>

      <div style="display: inline-block; border: 1px solid #ffffff;width: 650px;border-radius:7px;box-shadow:0px 2px #cfcfcf;background-color: #ffffff;margin: 0 0 28px 0;">
        <div style="display: inline-block;margin: 26px 0 0 20px;font: bold 14px arial;color: #f15a23;text-align: left;">
          Consumers are Going Mobile -- Don't Get Left Behind
        </div>
        <div style="display: inline-block;margin: 18px 50px 0 20px;font: 12px arial;color: #777777;text-align: left;line-height: 150%;">
          For less than $7.50 per month, your business can develop a comprehensive mobile marketing strategy --
          cutting through the noise of advertising and delivering your message directly to subscribers' cell phones.
          By utilizing text marketing,  you can keep your customers informed of special offers, promotions and company
          events -- allowing your business to generate more revenue and profit per customer.
          <br />
          <br />
          We have Client Success Specialists (in Norfolk, Virginia not overseas!) available 7 days a week to help
          your business thrive. Contact us anytime!
        </div>
        <br />
        <%= link_to image_tag("promo_email/button_small_learn_more.png", :style => "margin: 10px 0 10px 274px;"), solutions_url %>
      </div>

      <div style="display: inline-block; border: 1px solid #ffffff;width: 650px;border-radius:7px;box-shadow:0px 2px #cfcfcf;background-color: #ffffff;margin: 0 0 26px 0;">
        <div style="display: inline-block; float: left;width: 442px;">
          <div style="display: inline-block; float: left;width: 168px;margin: 10px 0;">
            <%= image_tag("promo_email/icon_mail.png", :style => "float: left; margin-left: 20px;") %>
            <span style="display: inline-block; float: left;margin: 0 0 0 10px; font: 12px arial;color: #777777">
              info@robocent.com
            </span>
            <div style="clear: both"></div>
          </div>
          <div style="display: inline-block; float: left;width: 230px;margin: 10px 0 10px 43px;">
            <%= image_tag("promo_email/icon_pin.png", :style => "float: left;") %>
            <span style="display: inline-block; float: left;margin: 0 0 0 10px; font: 12px arial;color: #777777">
              111 Granby Street, Norfolk, VA 23510
            </span>
            <div style="clear: both"></div>
          </div>
          <div style="clear: both"></div>
          <div style="display: inline-block; float: left;width: 168px;margin: 10px 0;">
            <%= image_tag("promo_email/icon_globe.png", :style => "float: left; margin-left: 20px;") %>
            <span style="display: inline-block; float: left;margin: 0 0 0 10px; font: 12px arial;color: #777777">
              RoboCent.com
            </span>
            <div style="clear: both"></div>
          </div>
          <div style="display: inline-block; float: left;width: 230px;margin: 10px 0 10px 43px;">
            <%= image_tag("promo_email/icon_phone_orange.png", :style => "float: left;") %>
            <span style="display: inline-block; float: left;margin: 0 0 0 10px; font: 12px arial;color: #777777">
              757.821.2121
            </span>
            <div style="clear: both"></div>
          </div>
          <div style="clear: both"></div>
        </div>
        <div style="display: inline-block; float: left;width: 200px;margin-top: 30px;">
          <%= link_to image_tag("promo_email/icon_skype.png", :style => "float: left"), '#' %>
          <%= link_to image_tag("promo_email/icon_facebook.png", :style => "float: left;margin: 0 0 0 8px;"), '#' %>
          <%= link_to image_tag("promo_email/icon_vimio.png", :style => "float: left;margin: 0 0 0 8px;"), '#' %>
          <%= link_to image_tag("promo_email/icon_linkedin.png", :style => "float: left;margin: 0 0 0 8px;"), '#' %>
          <%= link_to image_tag("promo_email/icon_twitter.png", :style => "float: left;margin: 0 0 0 8px;"), '#' %>
          <div style="clear: both"></div>
        </div>
        <div style="clear: both"></div>
      </div>

      <div style="text-align: center;margin: 0 0 20px 0;">
        <span style="font: 12px arial;color: #777777;">&copy;2012 RoboCent. All rights reserved. </span><br />
        <%= link_to "Unsubscribe", unsubscribe_email_url(:email => params[:email]), :style => "font: 12px arial; color: #f15a23;" %>
      </div>

    </div>
  </body>
</html>    