<% title " - Solutions" %>

<div class="middle full_width">
  <div class="container_12" style="padding-top:0px">

    <!-- Content -->
    <div class="content">

      <div class="post-item post-detail">

        <div class="entry">

          <div class="title_big">
            <h2>Features you'll <span>Enjoy</span></h2>
            <p class="subtitle">Our Award Winning hosting is feature packed and extremely reliable!</p>
          </div>

          <!-- features block -->
          <div class="box box_border box_white">

            <div class="col col_1_2">
              <div class="inner">

                <div class="feature_block">
                  <%= image_tag("public_images/temp/features_cpanel.png", :class => "alignleft", :width => "64", :height => "64") %>
                  <div class="feature_descr">
                    <h3>REAL-TIME DASHBOARD</h3>
                    <p>We run the most advanced and user-friendly dialing application on the market, enabling clients to make more calls in less time with fewer resources.</p>
                  </div>
                  <div class="clear"></div>
                </div>

              </div>
            </div>

            <div class="col col_1_2">
              <div class="inner">

                <div class="feature_block">
                  <%= image_tag("public_images/temp/features_support.png", :class => "alignleft", :width => "64", :height => "64") %>
                  <div class="feature_descr">
                    <h3>LIVE CHAT SUPPORT</h3>
                    <p>Our doors never close! Contact a customer support representative 7 days a week via live chat, email or phone. We also offer an extensive collection of How-To videos. </p>
                  </div>
                  <div class="clear"></div>
                </div>

              </div>
            </div>

            <div class="clear"></div>

            <div class="col col_1_2">
              <div class="inner">

                <div class="feature_block">
                  <%= image_tag("public_images/temp/features_location.png", :class => "alignleft", :width => "64", :height => "64") %>
                  <div class="feature_descr">
                    <h3>CALL-IN RECORDING LINE</h3>
                    <p>All clients receive a dedicated recording line, enabling you to record messages from any phone, anytime, anywhere--and the call-in number never changes!</p>
                  </div>
                  <div class="clear"></div>
                </div>

              </div>
            </div>

            <div class="col col_1_2">
              <div class="inner">

                <div class="feature_block">
                  <%= image_tag("public_images/temp/features_mail.png", :class => "alignleft", :width => "64", :height => "64") %>
                  <div class="feature_descr">
                    <h3>CUSTOMIZE CALLER ID</h3>
                    <p>RoboCent clients can set the Caller ID number and name for every call, enabling recipients to know who is calling and boost live answer rates.</p>
                  </div>
                  <div class="clear"></div>
                </div>

              </div>
            </div>

            <div class="clear"></div>

            <div class="col col_1_2">
              <div class="inner">

                <div class="feature_block">
                  <%= image_tag("public_images/temp/features_uptime.png", :class => "alignleft", :width => "64", :height => "64") %>
                  <div class="feature_descr">
                    <h3>99.9% UPTIME GUARANTEED</h3>
                    <p>RoboCent's platform is hosted online and is available 24 hours a day, 7 days a week.</p>
                  </div>
                  <div class="clear"></div>
                </div>

              </div>
            </div>

            <div class="col col_1_2">
              <div class="inner">

                <div class="feature_block">
                  <%= image_tag("public_images/temp/features_traffic.png", :class => "alignleft", :width => "64", :height => "64") %>
                  <div class="feature_descr">
                    <h3>REAL-TIME ANALYTICS</h3>
                    <p>Always know exactly how many people have answered your call, how long they listened for and any other data associated with your call so you can improve your strategy and get results!</p>
                  </div>
                  <div class="clear"></div>
                </div>

              </div>
            </div>

            <div class="clear"></div>

          </div>
          <!--/ features block -->

          <div class="divider_space"></div>

          <div class="center-text">

            <%= link_to new_user_path, :class => "btn-grn banner_btn" do %>
              <span class="blk-grn">CREATE AN ACCOUNT</span>
            <% end %>

            <%= link_to pricing_path, :class => "btn-org banner_btn" do %>
              <span class="blk-org">VIEW OUR PRICING</span>
            <% end %>

          </div>

          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!--/ content -->

    <div class="clear"></div>
  </div>
</div>
