<%= form_for(@call) do |f| %>
  <div class="g_12">
    <div class="widget_header">
      <h4 class="widget_header_title" style="width: 100%;text-align: center;">
        Cost of Call
      </h4>
    </div>
    <div class="widget_contents noPadding">
      <table class="tables">
        <tr>
          <td>
            <div class="g_6" style="text-align:center;">
              Number of Unique Recipients Selected
            </div>
            <div class="g_4"></div>
            <div class="g_2">
              <%= @call.number_of_recipients %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="g_6" style="text-align:center;">
              Cost Per Call
            </div>
            <div class="g_4" style="text-align:right;padding-right: 15px;">x</div>
            <div class="g_2">
              <%= "$%.3f" % @call.cost_per_call %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="g_6" style="text-align:center;">
              Call Duration : <%=  @duration %> seconds (<%= "#{@call.number_of_recipients} x #{"$%.3f" % @per_extra_cost}" %>)<br/>
              ($0.003 for each 15 seconds, if longer than 45 seconds)
            </div>
            <div class="g_4" style="text-align:right;padding-right: 15px;">+</div>
            <div class="g_2">
              <%= "$%.3f" % @extra_cost %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="g_6 widget_header_title" style="text-align:center;">
              Total Cost of Call
            </div>
            <div class="g_4"></div>
            <div class="g_2">
              <%= "$%.3f" % @call.total_cost %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="g_12">
    <div class="widget_header">
      <h4 class="widget_header_title" style="width: 100%;text-align: center;">
        Billing
      </h4>
    </div>
    <div class="widget_contents noPadding">
      <table class="tables">
        <tr>
          <td>
            <div class="g_6" style="text-align:center;">
              Current Balance
            </div>
            <div class="g_4"></div>
            <div class="g_2">
              <%= "$%.3f" % @current_balance %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="g_6" style="text-align:center;">
              Cost of Call
            </div>
            <div class="g_4"></div>
            <div class="g_2">
              <%= "$%.3f" % @call.total_cost %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="g_6 widget_header_title" style="text-align:center;">
              Ending Balance
            </div>
            <div class="g_4"></div>
            <div class="g_2">
              <% if @current_balance < @call.total_cost %>
                <%= "$(%.3f)" % (@current_balance - @call.total_cost) %>
              <% else %>
                <%= "$%.3f" % (@current_balance - @call.total_cost) %>
              <% end %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="g_12">
    <div class="label">
      If the ending balance is negative, the balance will be charged to your card
      on file by clicking, "Submit".
    </div>
  </div>

  <div class="g_12">
    <div class="line_grid">
      <div class="g_3"></div>
      <div class="g_3">
        <%= link_to "Back", send_call_path(:step => "3"), :class => "submitIt simple_buttons" %>
      </div>
      <div class="g_2"></div>
      <div class="g_4">
        <% unless current_user.billing_setting.card %>
          <%= link_to "Submit", "javascript:;", :class => "submitIt simple_buttons", :id => "provide_card_link" %>
        <% else %>
          <%= f.submit "Submit", :class => "submitIt simple_buttons" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless current_user.billing_setting.card %>
  <div id="dialog" title="<%= current_user.subscription.trial ? "You Must Have a Card on FIle!" : "Your Free Trial has Ended!" %>">
    <div class="dialog">
      <%= render "billing/form" %>
    </div>
  </div>
<% end %>

<style type="text/css">
  .tables .g_2,
  .tables .g_4,
  .tables .g_6{
    border: 1px solid transparent;
  }
</style>