<div style="width:600px;">
  <div class="g_12">
    <div class="widget_header">
      <h4 class="widget_header_title wwIcon i_16_forms ">Call Progress</h4>
    </div>
    <div class="widget_contents noPadding">
      <table class="tables">
        <tbody>
          <tr>
            <td colspan="2">
              <div class="line_grid">
                <div class="g_3"><span class="label">Sending Progress</span></div>
                <div class="g_9">
                  <div class="progress sProgress scBlue"></div>
                  <div class="field_notice">Dialed
                    <span class="must paValue">
                      <%= "#{@call.percent_completed}%" %>
                    </span>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Recording</td> <td><%= @call.recording.file_identifier if @call.recording.present? %></td>
          </tr>
          <tr>
            <td>Sending From</td> <td><%= @call.caller_id_number %></td>
          </tr>
          <tr>
            <td>List(s)</td>
            <td>
              <% @call.lists.collect{|l| l.name }.each do |list_name| %>
                <%= "#{list_name}" %><br/>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Number of Recipients</td>
            <td><%= @call.number_of_recipients %></td>
          </tr>
          <tr>
            <td>Scheduled At</td>
            <td>
              <%= @call.schedule_at.in_time_zone(current_user.time_zone).strftime("%b %d, %Y %H:%M:%S") %>
            </td>
          </tr>
          <tr>
            <td>Total Dialed</td>
            <td>
              <%= @call.total_dialed %>
            </td>
          </tr>
          <tr>
            <td>Total Answered</td>
            <td>
              <%= @call.total_answered %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".sProgress").progressbar({
      value: <%= @call.percent_completed %>
    });
  })
</script>