<div style="width:600px;">
  <div class="g_12">
    <div class="widget_header">
      <h4 class="widget_header_title wwIcon i_16_forms ">Call Progress</h4>
    </div>
    <div class="widget_contents noPadding">
      <table class="tables">
        <tbody>
          <tr>
            <td colspan="2">
              <div class="line_grid">
                <div class="g_3"><span class="label">Sending Progress</span></div>
                <div class="g_9">
                  <div class="progress sProgress scBlue"></div>
                  <div class="field_notice">Succeeded
                    <span class="must paValue">
                      <%= "#{@call.percent_completed}%" %>
                    </span>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Recording</td> <td><%= @call.recording.file_identifier %></td>
          </tr>
          <tr>
            <td>Sending From</td> <td><%= @call.caller_id_number %></td>
          </tr>
          <tr>
            <td>List(s)</td>
            <td>
              <% @call.lists.collect{|l| l.name }.each do |list_name| %>
                <%= "#{list_name}" %><br/>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Number of Recipients</td>
            <td><%= @call.number_of_recipients %></td>
          </tr>
          <tr>
            <td>Scheduled At</td>
            <td>
              <%= @call.schedule_at.in_time_zone(current_user.time_zone).strftime("%b %d, %Y %H:%M:%S") %>
            </td>
          </tr>
<%#*<tr>%>
<%#*<td>Started At</td>%>
<%#*<td>%>
<%# if @call.started_at.present? %>
<%#= @call.started_at.in_time_zone(current_user.time_zone).strftime("%b %d, %Y %H:%M:%S") %>
<%# else %>
<%#*Not Yet Started%>
<%# end %>
<%#*</td>%>
<%#*</tr>%>
<%# if @call.started_at.present? %>
<%#*<tr>%>
<%#*<td>Finished At</td>%>
<%#*<td>%>
<%# if @call.finished_at.present? %>
<%#= @call.finished_at.in_time_zone(current_user.time_zone).strftime("%b %d, %Y %H:%M:%S") %>
<%# else %>
<%#*Processing...%>
<%# end %>
<%#*</td>%>
<%#*</tr>%>
<%# end %>
<%#*<tr>%>
<%#*<td>Total Processed</td>%>
<%#*<td>%>
<%#= @call.total_processed %>
<%#*</td>%>
<%#*</tr>%>
<%#*<tr>%>
<%#*<td>Total Succeeded</td>%>
<%#*<td>%>
<%#= @call.succeeded %> &nbsp;&nbsp;&nbsp;
<%#= link_to "Download csv", send_text_succeeded_numbers_text_message_path(@call, :format => "csv"), :target => "blank", :style => "color:#007BBF;" if @call.succeeded > 0 %>
<%#*</td>%>
<%#*</tr>%>
<%#*<tr>%>
<%#*<td>Total Failed</td>%>
<%#*<td>%>
<%#= @call.failed %> &nbsp;&nbsp;&nbsp;
<%#= link_to "Download csv", send_text_errors_text_message_path(@call, :format => "csv"), :target => "blank", :style => "color:#007BBF;" if @call.failed > 0 %>
<%#*</td>%>
<%#*</tr>%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".sProgress").progressbar({
      value: <%= @call.percent_completed %>
    });
  })
</script>