<style type="text/css">
  table.plan-select{
    margin-bottom: 20px;
  }
  table.plan-select tr td
  {
    border: 1px solid #6EA004;
    width: 75px;
  }
  table.plan-select tr td:first-child{
    text-align: left;
    width: 140px;
  }
  table.plan-select tr:first-child{
    background-color: #BED48F;
  }
  table.plan-select tr:last-child{
    background-color: #eee;
  }
</style>

<p>
  Please enter the billing information you would like to keep on file.
  You may cancel your account anytime during the 30 day free trial and
  your account will not be billed.
</p>

<%= fields_for @billing_setting = BillingSetting.new do |b| %>
  <%= b.hidden_field :stripe_token %>
  <%= b.hidden_field :card_last_four_digits %>
  <%= b.hidden_field :card_exp_month %>
  <%= b.hidden_field :card_exp_year %>
  <%= b.hidden_field :card_type %>

  <% @plans = Plan.all %>
  <table class="plan-select">
    <tr>
      <td>Plan Type</td>
      <% @plans.each do |p| %>
        <td><%= p.name %></td>
      <% end %>
    </tr>
    <tr>
      <td>Maximum Contacts</td>
      <% @plans.each do |p| %>
        <td><%= number_with_delimiter(p.maximum_numbers) %></td>
      <% end %>
    </tr>
    <tr>
      <td>Cost per Message</td>
      <% @plans.each do |p| %>
        <td><%= p.price_per_call_or_text %></td>
      <% end %>
    </tr>
    <tr>
      <td>Free Credits</td>
      <% @plans.each do |p| %>
        <td>$10.00</td>
      <% end %>
    </tr>
    <tr>
      <td>30 Day Free Trial</td>
      <% @plans.each do |p| %>
        <td><%= p.trial_period_days.to_s == "30" ? "Yes" : "No" %></td>
      <% end %>
    </tr>
    <tr>
      <td>Select One</td>
      <% @plans.each_with_index do |p, index| %>
        <td>
          <% if index == 0 %>
            <%= b.radio_button :plan_id, p.id, :checked => true %>
          <% else %>
            <%= b.radio_button :plan_id, p.id %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>

  <div class="clear"></div>

  <div id="credit-card-errors" style="display: none">
    <div id="stripe-error-message" class="alert-message block-message error" style="color:#FF0000;padding: 5px;"></div>
  </div>

  <%#*<div class="row alignleft">%>
  <%#*<label><strong>Choose a Plan</strong></label>%>
  <%#= b.select :plan_id, Plan.all.collect{|p| [p.details, p.id]}, { }, :class => "select-uniform" %>
  <%#*</div>%>

  <%#*<div class="space"></div>%>

  <div class="row alignleft">
    <label><strong>Cardholder's full name</strong></label>
    <%= b.text_field :card_holder_name, :class => "inputtext input_middle required" %>
  </div>

  <div class="clear"></div>

  <div id="credit-card">

    <div class="row alignleft">
      <label><strong>Card Number</strong></label>
      <%= text_field_tag :credit_card_number, "", :disabled => true, :class => "inputtext input_middle required" %>
    </div>

    <div class="space"></div>

    <div class="row alignleft">
      <label><strong>Card Security Code (CVC)</strong></label>
      <%= text_field_tag :cvv, "", :disabled => true, :class => "inputtext input_middle required" %>
    </div>

    <div class="clear"></div>

    <div class="row alignleft">
      <label><strong>Card's Expiration Date</strong></label>
      <%= date_select "", :expiry_date, {:discard_day => true, :order => [:month, :year], :use_month_numbers => true, :start_year => Date.today.year, :end_year => Date.today.year + 25, :disabled => true}, {:class => 'small'} %>
    </div>

  </div>

<% end %>


<%= hidden_field_tag :step_id, "3" %>

<div class="row alignleft">
  <%= link_to "BACK", register_user_path(:step_id => "2"), :class => "btn-submit btn-link" %>
</div>

<div class="space"></div>

<div class="row alignleft">
  <%= f.submit "CREATE ACCOUNT", :class => "btn-submit" %>
</div>

<div class="clear"></div>