<p>
  Please enter the area code in which you would like to create your RoboCent number.
  You may use this number to send texts and receive feedback from your customers.
</p>

<%= fields_for @twilio_phone_number ||= TwilioPhoneNumber.new do |t| %>

  <% if @user.twilio_phone_number.present? %>
    <p>
      Your Selected Number:
      <strong>
        <%= @user.twilio_phone_number.phone_number %>
      </strong>
    </p>
    <%= t.hidden_field :phone_number, :value => @user.twilio_phone_number.phone_number %>
  <% else %>

    <div class="row alignleft">
      <label><strong>Enter Area Code</strong></label>
      <%= t.text_field :area_code, :maxlength => "3", :class => "inputtext", :style => "width:150px;" %>
    </div>

    <div class="space"></div>
    <div class="space"></div>
    <div id="ajax-loader" class="alignleft" style="padding-top:26px;width: 33px;">
      <%= image_tag("public_images/loading.gif", :style => "display:none") %>
    </div>
    <div class="space"></div>
    <div class="space"></div>

    <div class="row alignleft">
      <label><strong>Select Phone Number</strong></label>
      <span id="twilio_phone_number_select">
        <%= t.select :phone_number, TwilioRequest::available_phone_numbers("175").collect{|n| [n.phone_number]}, {:prompt => "Select one" } %>
      </span>
    </div>

    <div class="clear"></div>

  <% end %>

  <br/>
<% end %>

<div class="row alignleft">
  <label><strong>Promo Code</strong></label>
  <%= f.text_field :promo_code, :maxlength => "3", :class => "inputtext", :style => "width:150px;" %>
</div>

<div class="space" style="width:113px;"></div>

<div class="row alignleft">
  <label><strong>Time Zone</strong></label>
  <%= f.select :time_zone, UsState::TIME_ZONES, { :prompt => "Select one" }, :class => "select-uniform required" %>
</div>

<div class="clear"></div>

<%#*<p>%>
<%#*What if I want to use a short code like 47543 instead?<br/>%>
<%#*You will have the option to use a short code once you create an account.%>
<%#*For now, please select a phone number (they are free and you don't have to use%>
<%#*it if you don't want to).%>
<%#*</p>%>


<%= hidden_field_tag :step_id, "2" %>

<div class="row alignleft">
  <%= link_to "BACK", register_user_path(:step_id => "1"), :class => "btn-submit btn-link" %>
</div>

<div class="space"></div>

<div class="row alignleft">
  <%= f.submit "CREATE ACCOUNT", :class => "btn-submit", :id => "user_form_step_2_submit" %>
</div>

<div class="clear"></div>