<div class="row alignleft">
  <label><strong>Full Name</strong></label>
  <%= f.text_field :name, :class => "inputtext input_middle required" %>
</div>

<div class="space"></div>

<div class="row alignleft">
  <label><strong>Email</strong></label>
  <%= f.text_field :email, :class => "inputtext input_middle required" %>
</div>

<%#*<div class="clear"></div>%>

<%#*<div class="row alignleft">%>
<%#*<label><strong>Company/Organization</strong></label>%>
<%#= f.text_field :organization_name, :class => "inputtext input_middle required" %>
<%#*</div>%>

<%#*<div class="space"></div>%>

<%#*<div class="row alignleft">%>
<%#*<label><strong>Telephone</strong></label>%>
<%#= f.text_field :phone, :class => "inputtext input_middle required" %>
<%#*</div>%>

<%#*<div class="clear"></div>%>

<%#*<div class="row alignleft">%>
<%#*<label><strong>Organization Type</strong></label>%>
<%#= f.select :organization_type, Organization::NAMES, { :prompt => "Select one" }, :class => "select-uniform" %>
<%#*</div>%>

<%#*<div class="space"></div>%>

<%#*<div class="row alignleft">%>
<%#*<label><strong>Time Zone</strong></label>%>
<%#= f.select :time_zone, UsState::TIME_ZONES, { :prompt => "Select one" }, :class => "select-uniform required" %>
<%#*</div>%>

<%#*<div class="clear"></div>%>

<%#*<div class="row alignleft">%>
<%#*<label><strong>Address</strong></label>%>
<%#= f.text_field :address, :class => "inputtext input_middle required" %>
<%#*</div>%>

<%#*<div class="space"></div>%>

<%#*<div class="row alignleft">%>
<%#*<label><strong>State</strong></label>%>
<%#= f.select :state, UsState::NAMES, { :prompt => "Select one" }, :class => "select-uniform"%>
<%#*</div>%>

<div class="clear"></div>

<div class="row alignleft">
  <label><strong>Password</strong></label>
  <%= f.password_field :password, :class => "inputtext input_middle required" %>
</div>

<div class="space"></div>

<div class="row alignleft">
  <label><strong>Verify Password</strong></label>
  <%= f.password_field :password_confirmation, :class => "inputtext input_middle required" %>
</div>

<div class="clear"></div>

<p class="forgetmenot">
  <%= f.check_box :terms_and_conditions %>
  <label for="user_terms_and_conditions">I agree to the
    <%= link_to "Terms & Conditions", terms_path, :target => "_blank" %>
    .
  </label>
</p>

<%= hidden_field_tag :step_id, "1" %>

<div class="row rowSubmit">
  <%= f.submit "NEXT", :class => "btn-submit", :id => "user_form_step_1_submit" %>
  <a onclick="document.getElementById('new_user').reset(); $.uniform.update();return false" href="#" class="link-reset">reset all fields</a>
</div>