<% title " - Create an Account" %>

<div class="header header_thin">
  <div class="container_12">
    <div class="breadcrumbs">
      <%= link_to "Homepage", root_path %>
      <span class="separator">&nbsp;</span>
      Register
    </div>
  </div>
</div>

<div class="middle cols2">
  <div class="container_12">

    <!-- content -->
    <div class="content">

      <div class="post-item post-detail">

        <div class="post-title">
          <h1>Create an Account</h1>
        </div>

        <div class="entry">
          <p>
            To create an account, simply fill out the information below. 
            All accounts come standard with a one month free trial and 
            $10 in free texts and calls. If you have any questions, 
            don't hesitate to ask.
          </p>
          <div class="clear"></div>
        </div>
      </div>
      <!--/ post item -->


      <!-- add comment -->
      <div class="add-comment contact-form">
        <h3>
          <% if @step_id == "3" %>
            Billing Information
          <% elsif @step_id == "2" %>
            Your RoboCent Phone Number
          <% else %>
            Account Details
          <% end %>

          <div class="breadcrumbs" style="font-size:12px;">
            <% if @step_id == "3" %>
              Step 1
              <span class="separator">&nbsp;</span> Step 2
              <span class="separator">&nbsp;</span>
              <%= link_to "Step 3", "#" %>
            <% elsif @step_id == "2" %>
              Step 1
              <span class="separator">&nbsp;</span>
              <%= link_to "Step 2", "#" %>
              <span class="separator">&nbsp;</span> Step 3
            <% else %>
              <%= link_to "Step 1", "#" %>
              <span class="separator">&nbsp;</span> Step 2
              <span class="separator">&nbsp;</span> Step 3
            <% end %>
          </div>
        </h3>

        <div id="results" style="padding-left: 20px;color:#FF0000;">
          <% if @user.errors.any? %>
            <span style="color:#FF0000;">
              <%= pluralize(@user.errors.count, "error") %> prohibited this message from being saved:
              <br/>
              <% @user.errors.full_messages.each do |msg| %>
                <%= msg %><br/>
              <% end %>
            </span>
          <% end %>
          <% if flash.present? %>
            <span style="color:#FF0000;">
              <%= flash.now[:alert] %>
            </span>
          <% end %>
        </div>

        <div class="comment-form">
          <%= form_for @user, :url => register_user_path do |f| %>

            <% if @step_id == "2" %>
              <%= render :partial => 'form_step_2', :locals => {:f => f} %>
            <% elsif @step_id == "3" %>
              <%= render :partial => 'form_step_3', :locals => {:f => f} %>
            <% else %>
              <%= render :partial => 'form_step_1', :locals => {:f => f} %>
            <% end %>

          <% end %>
        </div>
      </div>
      <!--/add comment -->

    </div>
    <!--/ content -->

    <!-- sidebar -->
    <%= render "shared/location" %>
    <!--/ sidebar -->

    <div class="clear"></div>
  </div>
</div>
