<% title " - Create an Account" %>

<div id="sub_content">
  <div class="container">
    <div class="sigup-form" style="width:400px;margin: 0 auto;">
      <h2>Create An Account</h2>
      <%= form_for @user do |f| %>
        <div class="warning" style="display: <%= @user.errors.any? ? "block" : "none" %>">
          <% if @user.errors.any? %>
            <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
            <br/>
            <% @user.errors.full_messages.each do |msg| %>
              <%= msg %><br/>
            <% end %>
          <% end %>
        </div>
        <% if params[:pricing_plan].present? %>
          <%= hidden_field_tag "pricing_plan", params[:pricing_plan] %>
          Selected Subscription Plan :
          <%= params[:pricing_plan].humanize.titleize %>
          <br/>
        <% end %>
        <br />
        <%= f.email_field :email, :placeholder => "Email", :class => "input-large" %>
        <br />
        <br />
        <%= f.password_field :password, :placeholder => "Password", :class => "input-large" %>
        <br /><br/>
        <span>
          Before click next, please read RoboCent
          <%= link_to "Terms & Conditions", terms_path, :target => "_blank" %>
        </span>
        <br /><br/>
        <%= link_to "javascript:void(0);", :class => "small_btn-org banner_two_btn left-mrgn", :onclick => "$(this).closest('form').submit();return false;" do %>
          <span class="small_blk-org">Next >></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br/><br/>
<div class="clear"></div>

<script type="text/javascript">
  jQuery(document).ready( function(){
    $("#new_user").submit(function(e){
      var email = $("#new_user #user_email").val();
      var password = $("#new_user #user_password").val();
      var email_regex = /^[\w\.\+-]{1,}\@([\da-zA-Z-]{1,}\.){1,}[\da-zA-Z-]{2,6}$/i
      var errors = "";
      if(!email_regex.test(email)){
        errors += "<li>Email is Invalid</li>";
      }
      if(password.length < 6){
        errors += "<li>Password must be at least 6 characters long</li>"
      }

      if(errors != ""){
        e.preventDefault();
        $("#new_user .warning").html("<ul>"+errors+"</ul>");
        $("#new_user .warning").show();
      }
      else{
        return true;
      }
    });
  });
</script>