<aside class="sidebar">
  <ul class="tab_nav">
    <li class="active_tab i_32_dashboard">
      <%= link_to dashboard_path do %>
        <span class="tab_label">Dashboard</span>
      <% end %>
    </li>
    <li class="i_32_inbox">
      <%= link_to "#" do %>
        <span class="tab_label">Inbox</span>
        <span class="tab_info">Your Messages</span>
      <% end %>
    </li>
    <li class="i_32_ui">
      <%= link_to "#" do %>
        <span class="tab_label">Contacts</span>
        <span class="tab_info">Your contacts</span>
      <% end %>
    </li>
    <li class="i_32_forms">
      <%= link_to "#" do %>
        <span class="tab_label">Send a Text</span>
        <span class="tab_info">Send a Text</span>
      <% end %>
    </li>
    <li class="i_32_ui">
      <%= link_to "#" do %>
        <span class="tab_label">Send a Call</span>
        <span class="tab_info">Send a Call</span>
      <% end %>
    </li>
    <li class="i_32_tables">
      <%= link_to "#" do %>
        <span class="tab_label">Billing</span>
        <span class="tab_info">Manage billing</span>
      <% end %>
    </li>
    <li class="i_32_tables">
      <%= link_to "#" do %>
        <span class="tab_label">Support</span>
        <span class="tab_info">Contact Us</span>
      <% end %>
    </li>
  </ul>
</aside>