<aside class="sidebar">
  <ul class="tab_nav">
    <li class="i_32_dashboard <%= "active_tab" if current_page?(dashboard_path) %>">
      <%= link_to dashboard_path do %>
        <span class="tab_label">Dashboard</span>
      <% end %>
    </li>
    <li class="i_32_inbox">
      <%= link_to "#" do %>
        <span class="tab_label">Inbox</span>
      <% end %>
    </li>
    <li class="i_32_ui <%= "active_tab" if controller_name == "contacts" %>">
      <%= link_to contacts_path do %>
        <span class="tab_label">Contacts</span>
      <% end %>
    </li>
    <li class="i_32_forms">
      <%= link_to "#" do %>
        <span class="tab_label">Send a Text</span>
      <% end %>
    </li>
    <li class="i_32_ui">
      <%= link_to "#" do %>
        <span class="tab_label">Send a Call</span>
      <% end %>
    </li>
    <li class="i_32_tables">
      <%= link_to "#" do %>
        <span class="tab_label">Billing</span>
      <% end %>
    </li>
    <li class="i_32_tables">
      <%= link_to "#" do %>
        <span class="tab_label">Support</span>
      <% end %>
    </li>
  </ul>
</aside>