<div class="top_panel">
  <div class="wrapper">
    <div class="user">
<%#= image_tag("dashboard/user_avatar.png", :class => "user_avatar") %>
      <%= link_to profile_path do %>
        <img src="/assets/dashboard/user_avatar.png" class="user_avatar" alt=""/>
        <span class="label">
          <% if current_user.present? %>
            <%= current_user.name %>
          <% end %>
        </span>
      <% end %>
    </div>
    <div class="top_links">
      <ul>
        <li class="small">
          <%= link_to logout_path do %>
            <span class="label">Log Out</span>
          <% end %>
        </li>
        <li class="small">
          <a href="#" title="">
            <span class="label">Balance
              <% if current_user.present? %>
                <%= "$%.3f" % current_user.current_balance %>
              <% end %>
            </span>
          </a>
        </li>
        <li class="i_22_ui">
          <%= link_to contacts_path do %>
            <span class="label">Contacts</span>
          <% end %>
        </li>
        <li class="i_22_inbox top_inbox">
          <a href="#" title="">
            <span class="label lasCount">Inbox</span>
            <span class="small_count">3</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<style type="text/css">
  .top_links > ul > li.small > a {
    padding-left: 0px;
  }
</style>