<div id="content" class="pricing-table">
	<div class="table">
		<div class="container" style="width: 100%;position: relative;">
			<div class="centered">
			<% @plans.each_with_index do |plan, index| %>
				
				<div class="table_sec" style='<%= index == 0 ? "margin-left: 49px;" : ""%>' >
					<h2 class="<%= plan.amount > 0 ? 'orange' : nil %>"><%= plan.name %></h2>
					<div class="detail">
						<p>
							<% if plan.amount > 0 %>
								<%= number_to_currency(plan.monthly_fee) %><br /><span class="month">per month</span>
							<% else %>
								No Monthly Charge<br /><span class="month">&nbsp;</span>
							<% end %>
						</p>
						<ul>
							<li>
								<% if plan.amount > 0 %>
									<%= plan.monthly_included_text_or_call %> Texts or Calls Included
								<% else %>
									<%= "%.1f" % plan.price_per_call_or_text %>&cent; Per Text or Call
								<% end %>
							</li>
							<li>
								<%= pluralize(plan.max_keywords, "Keyword") %>
							</li>
							<li>
								Real Time Analytics
							</li>
							<li>
								<% if plan.amount > 0 %>
									<%= "%.1f" % plan.price_per_call_or_text %>&cent; Per Text or Call
								<% else %>
									No Credit Card Required
								<% end %>
								
							</li>
							<li>
								<%= plan.free_text %> Free Texts!
							</li>
						</ul>
						<%= link_to "", :class => "small_btn-gry table_btn pricing-plan-signup", :id => plan.stripe_id do %>
						<span class="small_blk-gry">signup&nbsp;now</span>
						<% end %>
						<div class="clear"></div>
					</div>
					<%= image_tag "smarthost/table_bot.png", :alt => "", :border => "0" %>
				</div>
				
			<% end %>
			</div>

		</div>
		<div class="clear"></div>
	</div>
</div>


