<div class="footer">
  <div class="container_12">

    <div class="grid_6">
      <div class="widget-container widget_nav_menu">
        <h3 class="widget-title">ABOUT ROBOCENT</h3>
        <p>
          RoboCent is one of the nation's largest providers of call and text
          notification systems. Small businesses, schools, non-profits and
          political campaigns across the U.S. rely on RoboCent's notification
          systems on a daily basis -- delivering millions of calls and texts to
          their subscribers. For more information,
          <%= link_to "contact us", contact_us_path %>
          .
        </p>
      </div>
    </div>
    <!--/ footer col 3 -->
    <div class="grid_2">
      <div class="widget-container widget_nav_menu">
        <h3 class="widget-title">SITE MAP</h3>
        <ul>
          <li>
            <%= link_to content_tag(:span, "Solutions"), solutions_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, "Pricing"), pricing_path %>
          </li>
<%#*<li>%>
<%#= link_to content_tag(:span, "SMS Terms"), sms_terms_path %>
<%#*</li>%>
<%#*<li>%>
<%#= link_to content_tag(:span, "SMS Privacy"), sms_privacy_path %>
<%#*</li>%>
        </ul>
      </div>
    </div>
    <div class="grid_2">
      <div class="widget-container widget_nav_menu">
        <h3 class="widget-title">Terms & Privacy</h3>
        <ul>
          <li>
            <%= link_to content_tag(:span, "Privacy Policy"), privacy_policy_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, "SMS Terms"), sms_terms_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, "SMS Privacy"), sms_privacy_path %>
          </li>
        </ul>
<%#*<h3 class="widget-title">SUPPORT</h3>%>
<%#*<ul>%>
<%#*<li>%>
<%#= link_to content_tag(:span, "Support"), support_path %>
<%#*</li>%>
<%#*<li>%>
<%#= link_to content_tag(:span, "FAQs"), faq_path %>
<%#*</li>%>
<%#*<li>%>
<%#= link_to content_tag(:span, "Help Guide"), guide_path %>
<%#*</li>%>
<%#*<li>%>
<%#= link_to content_tag(:span, "Video Tutorials"), tutorials_path %>
<%#*</li>%>
<%#*</ul>%>
      </div>
    </div>
    <!--/ footer col 4 -->
    <div class="grid_2">
      <!-- widget contacts -->
      <div class="widget-container widget_contact">
        <h3>CONTACT US</h3>
        <div class="contact-address">
          <div class="address">111 Granby Street<br/>Norfolk, VA 23510</div>
          <div class="phone">Phone: <strong>757.821.2121</strong></div>
          <div class="fax"><strong>info@robocent.com</strong></div>
        </div>
      </div>
      <!--/ widget contacts -->
    </div>
    <!--/ footer col 4 -->

    <div class="divider"></div>

    <div class="footer_support">
      <div class="icon_write_mail">
        <%= link_to "Send an Email", contact_us_path %>
      </div>
      <div class="icon_live_chat"><a href="#" onClick="return SnapABug.startLink();">Live Chat 24 / 7</a></div>
      <div class="icon_phone">Support: 757 821 2121</div>
      <div class="clear"></div>
    </div>

    <div class="copyright">
      <p>&copy; Copyright 2012  |   RoboCent, Inc. All rights reserved.<br/>
        <small>A <a href="http://massroots.com/">MassRoots, LLC</a> Company</small></p>
    </div>

    <div class="clear"></div>

  </div>
</div>


<!-- begin SnapEngage code -->
<script type="text/javascript">
  (function() {
    var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
    se.src = '//commondatastorage.googleapis.com/code.snapengage.com/js/9843552f-3b65-481c-850a-78b1e037bb57.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
  })();
</script>
<!-- end SnapEngage code -->