<div class="footer">
  <div class="container_12">

    <div class="grid_6">
      <div class="widget-container widget_nav_menu">
        <h3 class="widget-title">ABOUT ROBOCENT</h3>
        <p>
          RoboCent is one of the nation's largest providers of political and permission-based robocalls.
          RoboCent is strictly non-partisan and strives to provide all clients, regardless of political
          affiliation, with a better product at a better price. RoboCent is a wholly owned subsidiary of MassRoots, LLC.
          For more information, <a href="">contact us</a>.
        </p>
      </div>
    </div>
    <!--/ footer col 3 -->
    <div class="grid_2">
      <div class="widget-container widget_nav_menu">
        <h3 class="widget-title">SITE MAP</h3>
        <ul>
          <li>
            <%= link_to content_tag(:span, "Solutions"), solutions_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, "Pricing"), pricing_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, "Support"), support_path %>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid_2">
      <div class="widget-container widget_nav_menu">
        <h3 class="widget-title">SUPPORT</h3>
        <ul>
          <li>
            <%= link_to content_tag(:span, "FAQs"), faq_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, "Help Guide"), guide_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, "Video Tutorials"), tutorials_path %>
          </li>
        </ul>
      </div>
    </div>
    <!--/ footer col 4 -->
    <div class="grid_2">
      <!-- widget contacts -->
      <div class="widget-container widget_contact">
        <h3>CONTACT US</h3>
        <div class="contact-address">
          <div class="address">11 Stone St, 4th Floor <br /> New York, NY 10004</div>
          <div class="phone">Phone: <strong>757.821.2121</strong></div>
          <div class="fax"><strong>info@robocent.com</strong></div>
        </div>
      </div>
      <!--/ widget contacts -->
    </div>
    <!--/ footer col 4 -->

    <div class="divider"></div>

    <div class="footer_support">
      <div class="icon_write_mail">
        <%= link_to "Send an Email", contact_path %>
      </div>
      <div class="icon_live_chat"><a href="#" onClick="return SnapABug.startLink();">Live Chat 24 / 7</a></div>
      <div class="icon_phone">Support: 757 821 2121</div>
      <div class="clear"></div>
    </div>

    <div class="copyright">
      <p>&copy; Copyright 2012  |   RoboCent, LLC. All rights reserved.<br/>
        <small>A <a href="http://massroots.com/">MassRoots, LLC</a> Company</small></p>
    </div>

    <div class="clear"></div>

  </div>
</div>


<script type="text/javascript">
  document.write(unescape("%3Cscript src='//www.snapengage.com/snapabug.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">
  SnapABug.setButton("http://toucantwin.com/images/live-chat.png");
  SnapABug.addButton("9843552f-3b65-481c-850a-78b1e037bb57","1","50%");
</script>

<script type="text/javascript">
  document.write(unescape("%3Cscript src='//www.snapengage.com/snapabug.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">
  SnapABug.setButton("http://toucantwin.com/images/live-chat.png");
  SnapABug.init('9843552f-3b65-481c-850a-78b1e037bb57');
</script>