<div id="new-user-signup">
  <%= form_for User.new, :html => {:class => "new-user-popup"} do |f| %>
    <%= hidden_field_tag "step_id", "1" %>
    <%= hidden_field_tag "pricing_plan", "0" %>
    <br />
    <%= f.email_field "email", :placeholder => "Email", :class => "try-now-email", :style => "display: block" %>
    <br />
    <br />
    <%= f.password_field "email", :placeholder => "Password", :class => "try-now-password", :style => "display: block" %>
    <br />
    <br />
    <%= link_to "javascript:void(0);", :class => "small_btn-org banner_two_btn left-mrgn", :onclick => "$(this).closest('form').submit();return false;" do %>
      <span class="small_blk-org">Next >></span>
    <% end %>
  <% end %>
</div>

<% content_for :js do %>
  <script type="text/javascript">
    jQuery(document).ready( function(){
      $myWindow = jQuery('#new-user-signup');

      $('.sign-up-popup').live( "clickoutside", function(event){
        $myWindow.dialog('close');
      });

      $('document').ready(function(){
        $('.pricing-plan-signup').click(function(){
          $myWindow.dialog('open');
          var pricing_plan_id = this.id;//.replace('pricing-plan-', '');
          $('#pricing_plan').val(pricing_plan_id);
          return false;
        });
        $('.signup-popup').click(function(){
          $myWindow.dialog('open');
          return false;
        });
      });

      $myWindow.dialog({
        beforeClose :function(event,ui){
          return true;
          $('#new_user #pricing_plan').val('0');
        },
        open :function( event, ui ){
          //$('body').css('overflow', 'hidden');
          $('.ui-widget-overlay').bind('click', function() {
            $myWindow.dialog('close');
          });
        },
        close :function( event, ui ){
          //$('body').css('overflow', 'auto');
        },
        title: "Signup Now",
        resizable: false,
        draggable: false,
        height: 300,
        width: '400px',
        modal: true,
        position: 'center',
        closeText: "X",
        dialogClass: "sign-up-popup",
        hide: "scale",
        show: "scale",
        autoOpen: false,
        overlay: {
          opacity: 0.8
        }
      });
    }
  );
    
  </script>
<% end %>