<div class="widget_header">
  <h4 class="widget_header_title wwIcon i_16_valid" style="float:left">
    Edit Billing Information
  </h4>
  <div style="float:right">
    <%= link_to "Close", "#", :id => "billing-close-button", :class => "simple_buttons", :style => "padding: 0 15px 0 15px;" %>
  </div>
  <div class="clear"></div>
</div>
<div class="widget_contents noPadding">
  <div id="credit-card-errors" style="display: none">
    <div id="stripe-error-message" class="alert iDialog"></div>
  </div>
  <%= form_for(@billing_setting, :url => update_billing_path(@billing_setting)) do |f| %>
    <%= f.hidden_field :stripe_token %>
    <%= f.hidden_field :card_last_four_digits %>
    <%= f.hidden_field :card_exp_month %>
    <%= f.hidden_field :card_exp_year %>
    <%= f.hidden_field :card_type %>

    <table class="tables">
      <thead>
        <tr>
          <td>Card Holder Name<span class="must">*</span></td>
          <td>
            <%= f.text_field :card_holder_name, :class => "simple_field", :required => true %>
          </td>
        </tr>
      </thead>
      <tbody id="credit-card">
        <tr>
          <td>Card Number<span class="must">*</span></td>
          <td>
            <%= text_field_tag :credit_card_number, "", :class => "simple_field", :disabled => true, :required => true %>
          </td>
        </tr>
        <tr>
          <td>Card Security Code<span class="must">*</span></td>
          <td>
            <%= text_field_tag :cvv, "", :class => "simple_field", :disabled => true, :required => true %>
          </td>
        </tr>
        <tr>
          <td>Expiration Date<span class="must">*</span></td>
          <td>
            <%= date_select "", :expiry_date, {:discard_day => true, :order => [:month, :year], :use_month_numbers => true, :start_year => Date.today.year, :end_year => Date.today.year + 25, :disabled => true}, {:class => 'small'} %>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <%= f.submit :class => "submitIt simple_buttons" %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

<style type="text/css">
  .simple_field{
    width: 200px;
  }
</style>