<div class="g_12" id="table_wTabs">
  <div class="widget_header wwOptions">
    <h4 class="widget_header_title wwIcon i_16_tabs">Transactions</h4>
    <ul class="w_Tabs">
      <li><a href="#table_wTabs-1" title="Tab 1">Monthly</a></li>
      <li><a href="#table_wTabs-2" title="Tab 2">Funds</a></li>
    </ul>
  </div>
  <div class="widget_contents noPadding">
    <div id="table_wTabs-2">
      <table class="tables <%= "datatable" if @funds.present? %>" id="">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% if @funds.present? %>
            <% @funds.each do |fund| %>
              <tr>
                <td>
                  <%= fund.created_at.in_time_zone(current_user.time_zone).strftime("%b %d, %Y %H:%M") %>
                </td>
                <td>
                  <%= fund.memo %>
                </td>
                <td style="text-align: right">
                  <%= "%.3f" % fund.credit unless fund.credit.zero? %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="3" style="text-align:center">
                No Records Found.
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @funds.present? %>
        <div class="g_12">
          <h4 class="widget_header_title">
            Total Funded ( From
            <%= @funds.first.created_at.in_time_zone(current_user.time_zone).strftime("%B %d, %Y") %>
            To <%= @funds.last.created_at.in_time_zone(current_user.time_zone).strftime("%B %d, %Y") %>
            ) :
            $<%= "%.3f" % @funds.sum(:credit) %>
          </h4>
        </div>
      <% end %>
    </div>
    <div id="table_wTabs-1">
      <div class="g_12">
        <form action="" method="get" id="tx_by_date">
          <span class="label">From</span>
          <%= text_field_tag :date_from, @date_from.in_time_zone(current_user.time_zone).strftime("%B %d, %Y"), :class => "simple_field" %>
          <span class="label">To</span>
          <%= text_field_tag :date_to, @date_to.in_time_zone(current_user.time_zone).strftime("%B %d, %Y"), :class => "simple_field" %>
          <%= link_to 'Go', "javascript:document.getElementById('tx_by_date').submit();", :class => 'submitIt simple_buttons' %>
        </form>
      </div>
      <div class="clear"></div>
      <table class="tables" id="">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Debits</th>
            <th>Credits</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          <% if @transactions.present? %>
            <% @transactions.each do |tx| %>
              <tr>
                <td>
                  <%= tx.created_at.in_time_zone(current_user.time_zone).strftime("%b %d, %Y %H:%M") %>
                </td>
                <td>
                  <%= tx.memo %>
                </td>
                <td style="text-align: right">
                  <%= "%.3f" % tx.debit unless tx.debit.zero? %>
                </td>
                <td style="text-align: right">
                  <%= "%.3f" % tx.credit unless tx.credit.zero? %>
                </td>
                <td style="text-align: right">
                  <%= "%.3f" % tx.current_balance %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="5" style="text-align:center">
                No Records Found.
              </td>
            </tr>
          <% end %>
            <tr>
              <td colspan="5" height="15"></td>
            </tr>
        </tbody>
      </table>
      <% if @transactions.present? %>
        <div class="g_6">
          <div id="show-billing">
            <%= render "show" %>
          </div>
          <div id="edit-billing" style="display:none">
            <%= render "edit" %>
          </div>
        </div>
        <div class="g_6">
          <table class="tables">
            <tbody>
              <tr>
                <td colspan="2" style="text-align: left">
                  Statement Period :
                  <%= @date_from.in_time_zone(current_user.time_zone).strftime("%b %d, %Y") %>
                  to
                  <%= @date_to.in_time_zone(current_user.time_zone).strftime("%b %d, %Y") %>
                </td>
              </tr>
              <tr>
                <td style="text-align: right">
                  Beginning Balance
                </td>
                <td style="text-align: right">
                  $<%= "%.3f" % @beginning_balance %>
                </td>
              </tr>
              <tr>
                <td style="text-align: right">
                  Total Credits
                </td>
                <td style="text-align: right">
                  $<%= "%.3f" % @total_credits %>
                </td>
              </tr>
              <tr>
                <td style="text-align: right">
                  Total Debits
                </td>
                <td style="text-align: right">
                  $<%= "%.3f" % @total_debits %>
                </td>
              </tr>
              <tr>
                <td style="text-align: right">
                  Total Change
                </td>
                <td style="text-align: right">
                  $<%= "%.3f" % @total_change %>
                </td>
              </tr>
              <tr>
                <td style="text-align: right">
                  Ending Balance
                </td>
                <td style="text-align: right">
                  $<%= "%.3f" % @ending_balance %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
