<div class="g_6 contents_header">
  <h3 class="i_16_ui tab_label">Contacts</h3>
</div>
<div class="g_2"></div>
<div class="g_2">
  <%= link_to "Add New List", new_list_path, :class => "simple_buttons contact-button", :id => "new_list_link_1" %>
</div>
<div class="g_2">
  <%= link_to "Add Contacts", new_contact_path, :class => "simple_buttons contact-button" %>
</div>

<div class="g_12 separator"><span></span></div>

<div class="g_6" style="padding-top:12px;">
    <h4 class="widget_header_title ">
      <%= pluralize(@contacts.count, "Contact") %>
    </h4>
</div>
<div class="g_6">
  <form>
    <div class="g_9">
      <%= text_field_tag :search, params[:search], :class => "simple_field", :placeholder => "Search Contacts by Phone Number" %>
    </div>
    <div class="g_3">
      <%= link_to 'Search', "javascript:void(0);", :onclick => "$('form:first').submit();", :class => 'simple_buttons contact-button' %>
    </div>
  </form>
</div>

<% if params[:search].present? %>
  <div class="g_12">
    <div class="widget_header wwOptions">
      <h4 class="widget_header_title wwIcon i_16_tables">Search Results for '<%= params[:search] %>'</h4>
    </div>
    <div class="widget_contents noPadding">
      <table class="tables" id="contacts-table">
        <thead>
        <th>List Name</th>
        <th>Phone</th>
        <th>Name</th>
        <th>Email</th>
        <th>
          <div class="ajax-loading" style="display:none">
            <%= image_tag("dashboard/Icons/Load/load-8.gif") %>
          </div>
        </th>
        </thead>
        <tbody>
          <% if @search_contacts.present? %>
            <% @search_contacts.each do |contact| %>
              <%= render :partial => "contact_tiny", :locals => {:contact => contact} %>
            <% end %>
          <% else %>
            <tr>
              <td colspan="5" style="text-align:center">
                No Records Found.
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<div class="g_12">
  <div class="widget_header wwOptions">
    <h4 class="widget_header_title wwIcon i_16_tables">Contact Lists</h4>
    <div class="w_Options i_16_add">
      <!-- Drop Menu -->
      <ul class="drop_menu menu_with_icons right_direction">
        <li>
          <%= link_to new_list_path, :class => "i_16_add", :id => "new_list_link" do %>
            <span class="label">Add New List</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="widget_contents noPadding">
    <table class="tables" id="contact-lists-table">
      <thead>
        <tr>
          <th>List Name</th>
          <th>Type of List</th>
          <th>Number of Contacts</th>
          <th>Keyword</th>
          <th>ShortCode Keyword</th>
          <th>
            <div class="ajax-loading" style="display:none">
              <%= image_tag("dashboard/Icons/Load/load-8.gif") %>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <% if @lists.present? %>
          <% @lists.each do |list| %>
            <%= render :partial => "lists/list_tiny", :locals => { :list => list } %>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5" align="center" id="no-records-row">
              No Records Found.
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="dialog" title="Create New List">
  <div class="dialog">
    <%= render "lists/form" %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $(".fancybox").fancybox();
  });
</script>