<%= form_for(@text_message) do |f| %>
  <div class="g_12">
    <div class="widget_header">
      <h4 class="widget_header_title" style="width: 100%;text-align: center;">
        Cost of Text
      </h4>
    </div>
    <div class="widget_contents noPadding">
      <table class="tables">
        <tr>
          <td>
            <div class="g_6" style="text-align:center;">
              Number of Unique Recipients Selected
            </div>
            <div class="g_4"></div>
            <div class="g_2">
              <%= @text_message.number_of_recipients %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="g_6" style="text-align:center;">
              Number of Texts Sent
            </div>
            <div class="g_4" style="text-align:right;padding-right: 15px;">x</div>
            <div class="g_2">
              <%= @text_message.number_of_texts_required %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="g_6" style="text-align:center;">
              Cost Per Text
            </div>
            <div class="g_4" style="text-align:right;padding-right: 15px;">x</div>
            <div class="g_2">
              <%= "$%.3f" % @text_message.cost_per_text %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="g_6 widget_header_title" style="text-align:center;">
              Total Cost of Text
            </div>
            <div class="g_4"></div>
            <div class="g_2">
              <%= "$%.3f" % @text_message.total_cost %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="g_12">
    <div class="widget_header">
      <h4 class="widget_header_title" style="width: 100%;text-align: center;">
        Billing
      </h4>
    </div>
    <div class="widget_contents noPadding">
      <table class="tables">
        <tr>
          <td>
            <div class="g_6" style="text-align:center;">
              Current Balance
            </div>
            <div class="g_4"></div>
            <div class="g_2">
              <%= "$%.3f" % @current_balance %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="g_6" style="text-align:center;">
              Cost of Text
            </div>
            <div class="g_4"></div>
            <div class="g_2">
              <%= "$%.3f" % @text_message.total_cost %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="g_6 widget_header_title" style="text-align:center;">
              Ending Balance
            </div>
            <div class="g_4"></div>
            <div class="g_2">
              <% if @current_balance < @text_message.total_cost %>
                <%= "$(%.3f)" % (@current_balance - @text_message.total_cost) %>
              <% else %>
                <%= "$%.3f" % (@current_balance - @text_message.total_cost) %>
              <% end %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- ----->
  <div class="g_12">
    <div class="widget_header">
      <h4 class="widget_header_title" style="width: 100%;text-align: center;">
        Estimated Time for Delivery
      </h4>
    </div>
    <div class="widget_contents noPadding">
      <table class="tables">
        <tr>
          <td>
            <div class="g_6" style="text-align:center;">
              Estimated Approval Time
            </div>
            <div class="g_4"></div>
            <div class="g_2">
              <%= (@text_message.user.text_messages_approval == "approved" or @text_message.sending_option == 1) ? "n/a" : "2 Minutes" %>
            </div>
            <% if current_user.text_messages_approval.blank? %>
              <div class="g_8" style="text-align:center; border: 0;" ><%= check_box_tag "auto_approved" %> Apply to Have Your Texts Auto-Approved</div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="g_6" style="text-align:center;">
              Estimated Delivery Time
            </div>
            <div class="g_4"></div>
            <div class="g_2">
              <%= "%.4f" % (@text_message.number_of_recipients.to_f/2400.to_f) + " Minutes" %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- ----->

  <div class="g_12">
    <div class="label">
      If the ending balance is negative, the balance will be charged to your card
      on file by clicking, "Submit".
    </div>
  </div>

  <div class="g_12">
    <div class="line_grid">
      <div class="g_3"></div>
      <div class="g_3">
        <%= link_to "Back", send_text_path(:step => "2"), :class => "submitIt simple_buttons" %>
      </div>
      <div class="g_2"></div>
      <div class="g_4">
        <% if (@current_balance < @text_message.total_cost) and !current_user.billing_setting.card %>
          <%= link_to "Submit", "javascript:;", :class => "submitIt simple_buttons", :id => "provide_card_link" %>
        <% else %>
          <%= f.submit "Submit", :class => "submitIt simple_buttons" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if (@current_balance < @text_message.total_cost) and !current_user.billing_setting.card %>
  <div id="dialog" title="<%= current_user.subscription.trial ? "You Must Have a Card on FIle!" : "Your Free Trial has Ended!" %>">
    <div class="dialog">
      <%= render "billing/form" %>
    </div>
  </div>
<% end %>


<style type="text/css">
  .tables .g_2,
  .tables .g_4,
  .tables .g_6{
    border: 1px solid transparent;
  }
</style>
