<div id="twilio-response"></div>
<div class="clear"></div>

<%= form_for(@text_message, :url => send_text_path) do |f| %>
  <%= hidden_field_tag "step", "3" %>
  <div class="widget_contents noPadding">
    <div class="line_grid">
      <div class="g_3"><span class="label">Your Text Message</span></div>
      <div class="g_9">
        <span class="label">
          <%= @text_message.content if @text_message.present? and @text_message.content.present? %>
        </span>
      </div>
    </div>
    <div class="line_grid" id="send_a_text_container">
      <div class="g_3"><span class="label">Send a Test</span></div>
      <div class="g_9">
        <%= f.text_field :test_send_to, :class => "simple_field" %>
        <div class="field_notice">Please enter up to 5 numbers you would like a test message sent to, separated by a comma.</div>
        <div style="margin-top:10px;">
          <div class="g_3">
            <%= link_to "Send a Test", send_a_test_path, :class => "submitIt simple_buttons", :id => "send_a_test" %>
          </div>
          <div class="g_9 ajax-loading" style="display:none">
            <%= image_tag("dashboard/Icons/Load/load-1.gif") %>
          </div>
        </div>
      </div>
    </div>
    <div class="line_grid">
      <div class="g_3"><span class="label">Select Recipients</span></div>
      <div class="g_9">
  <%#= f.select :list_id, current_user.lists.collect{|l| ["#{l.name} (#{l.number_of_contacts})",l.id]}, {}, :class => "simple_form" %>
        <% current_user.lists.each do |list| %>
          <%= check_box_tag :"list_ids[]", list.id, (@text_message.list_ids.present? and @text_message.list_ids.include?(list.id.to_s)) ? true : false, :class => "simple_form" %>
          <span class="label">
            <%= "#{list.name} (#{list.number_of_contacts})" %>
          </span>
          <br/>
        <% end %>
        <div class="field_notice">Please select the contact list you would like the message sent to.</div>
      </div>
    </div>
    <div class="line_grid">
      <div class="g_3"><span class="label">Schedule</span></div>
      <div class="g_9">
        <%= f.check_box :schedule_now, :value => 1, :class => "simple_form"  %>
        <span class="label">Send Now
          <br/>
          Or Schedule For:<br/>
        </span>
  <%#= datetime_select("text_message", "schedule_at", {:start_year => Time.now.year, :default => (Time.now + 5.minutes).in_time_zone(current_user.time_zone)}, :class => "simple_form") %>
        <%= date_select("text_message", "schedule_at", {:start_year => Time.now.in_time_zone(current_user.time_zone).year, :default => Date.today}, :class => "simple_form") %>
        <span class="label"> At &nbsp;&nbsp;&nbsp;</span>
        <%= select_tag "text_message[schedule_at(4i)]", options_for_select((1..12).collect{|h| ["#{'%02d' % h}"]}, session[:text_message]["schedule_at(4i)"]), {:class => "simple_form"} %>:
        <%= select_tag "text_message[schedule_at(5i)]", options_for_select((0..59).collect{|m| ["#{'%02d' % m}"]}, session[:text_message]["schedule_at(5i)"]), {:class => "simple_form"} %>
        <%= select_tag "text_message[schedule_at(7i)]", options_for_select(['AM', 'PM'], session[:text_message]["schedule_at(7i)"]), {:class => "simple_form"} %>
        <div class="field_notice">Time Zone : <%= current_user.time_zone %></div>
      </div>
    </div>
    <div class="line_grid">
      <div class="g_3"></div>
      <div class="g_3">
        <%= link_to "Back", send_text_path(:step => "1"), :class => "submitIt simple_buttons" %>
      </div>
      <div class="g_2"></div>
      <div class="g_4">
        <%= f.submit "Next", :class => "submitIt simple_buttons" %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#send_a_test").click(function(){
      var numbers = $("#text_message_test_send_to").val();
      if(numbers.length < 3){
        alert("Please enter some valid numbers!");
      }
      else{
        var url = $(this).attr("href");
        $("#send_a_text_container .ajax-loading").show();
        $.ajax({
          type: 'GET',
          url: url,
          data: {numbers : numbers},
          dataType: "script"
        });
      }
      return false;
    });

    $('form').submit(function(e){

      if($("input#text_message_schedule_now:not(:checked)").length){

        var year = $("#text_message_schedule_at_1i").val();
        var month = $("#text_message_schedule_at_2i").val();
        var day = $("#text_message_schedule_at_3i").val();
        var hr = $("#text_message_schedule_at_4i_").val();
        var min = $("#text_message_schedule_at_5i_").val();
        var ampm = $("#text_message_schedule_at_7i_").val();

        var dateString = month+" "+day+" "+year+" "+hr+":"+min+":00 "+ampm;

        var date = new Date(dateString);
        var now = new Date();

        if(date <= now){
          alert("Schedule time can't go past!");
          e.preventDefault();
          return false;
        }
      }

    });

  })
</script>