<%= form_for(@text_message, :url => send_text_path) do |f| %>
  <%= hidden_field_tag "step", "2" %>
  <div class="label">
    Please enter the text of the message you would like broadcast.
    Each text message is limited to 140 characters. You will have an
    opportunity to test the message before it is sent.
  </div>
  <br/>
  <div class="widget_contents noPadding">
    <div class="line_grid">
      <div class="g_2"><span class="label">Write Message<span class="must">*</span></span></div>
      <div class="g_10">
        <%= f.text_area :content, :class => "simple_field", :required => true %>
        <div class="field_notice" id="content_length">0 Characters</div>
        <div id="whitelist_exceptional_characters" style="color: #6EA004;" class="field_notice">
          Following characters are not allowed:
          <b style="font-size: 12px;"><%= "~ ` ^ | \\" %></b>
        </div>
      </div>
    </div>
    <div class="line_grid">
      <div class="g_2"><span class="label">Sending Options</span></div>
      <div class="g_10">
        <% if current_user.twilio_phone_number.present? %>
          <%= f.radio_button :sending_option, "1", :class => "simple_form" %>
          <span class="label ilC">
            Send Message from <%= current_user.twilio_phone_number.phone_number %>.
            (Will send at the rate of 60 text/minute)
          </span>
          <br/><br/>
        <% end %>
        <% if @short_code.present? %>
          <%= f.radio_button :sending_option, "2", :class => "simple_form", :checked => true %>
          <span class="label ilC">
            Send Message from <%= @short_code.number %>.
            (Will send at the rate of 2400 texts/minute)
          </span>
        <% end %>
      </div>
    </div>
    <div class="line_grid">
      <div class="g_4"></div>
      <div class="g_8">
        <%= f.submit "Next", :class => "submitIt simple_buttons" %>
      </div>
    </div>
  </div>
<% end %>
