<% title " - Help Guide" %>

<div class="header header_thin">
  <div class="container_12">
    <div class="breadcrumbs">
      <%= link_to "Homepage", root_path %>
      <span class="separator">&nbsp;</span>
      <a href="#">Our Hosting</a>
      <span class="separator">&nbsp;</span>
      Contact us
    </div>
  </div>
</div>


<div class="middle cols2">
  <div class="container_12">

    <!-- content -->
    <div class="content">

      <div class="post-item post-detail">

        <div class="post-title">
          <h1>Help Guide</h1>
        </div>

        <div class="entry">
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Estibulum at eros. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. </p>

          <div class="clear"></div>
        </div>
      </div>

      <div class="minigallery-list minigallery">
        <ul id="mycarouse2" class="jcarousel-skin-tango">
          <li>
            <%= image_tag("public_images/temp/thumb_1.jpg", :width => "90", :height => "90") %>
          </li>
          <li>
            <%= image_tag("public_images/temp/thumb_2.jpg", :width => "90", :height => "90") %>
          </li>
          <li>
            <%= image_tag("public_images/temp/thumb_3.jpg", :width => "90", :height => "90") %>
          </li>
          <li>
            <%= image_tag("public_images/temp/thumb_4.jpg", :width => "90", :height => "90") %>
          </li>
          <li>
            <%= image_tag("public_images/temp/thumb_5.jpg", :width => "90", :height => "90") %>
          </li>
          <li>
            <%= image_tag("public_images/temp/thumb_6.jpg", :width => "90", :height => "90") %>
          </li>
          <li>
            <%= image_tag("public_images/temp/thumb_7.jpg", :width => "90", :height => "90") %>
          </li>
          <li>
            <%= image_tag("public_images/temp/thumb_8.jpg", :width => "90", :height => "90") %>
          </li>
        </ul>
      </div>



    </div>
    <!--/ content -->

    <!-- sidebar -->
    <%= render "shared/location" %>
    <!--/ sidebar -->

    <div class="clear"></div>
  </div>
</div>