<!DOCTYPE html>
<html>
  <head>
    <title>Robocent</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <%= render "shared/public_top_nav" %>
      <%= yield %>
      <%= render "shared/public_footer" %>
    </div>
    <%= yield :js %>
  </body>
</html>