<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <script src="//cdn.optimizely.com/js/183754947.js"></script>
    <meta charset="UTF-8"/>
    <title>Robocent</title>

    <%= render "shared/meta_contents" %>

    <!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <%= javascript_include_tag "dashboard/Flot/excanvas" %>
	<![endif]-->
    <!-- The Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Oswald|Droid+Sans:400,700" rel="stylesheet"/>

    <%= stylesheet_link_tag    "dashboard", :media => "all" %>
    <%= javascript_include_tag "dashboard" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/"%>
    <%= javascript_tag "Stripe.publishableKey = '#{STRIPE_PUBLIC_KEY}';"; %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38354408-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="favicon.ico"/>
  </head>

  <body>
    <!-- Change Pattern -->
    <div class="changePattern">
      <span id="pattern1"></span>
      <span id="pattern2"></span>
      <span id="pattern3"></span>
      <span id="pattern4"></span>
      <span id="pattern5"></span>
      <span id="pattern6"></span>
    </div>

    <!-- Top Panel -->
    <%= render "shared/dashboard_top_panel" %>

    <!-- Header -->
    <%= render "shared/dashboard_header" %>

    <div class="wrapper contents_wrapper">

      <%= render "shared/dashboard_side_bar_menu" %>

      <div class="contents">
        <div class="grid_wrapper">
          <%= yield %>
        </div>
      </div>

    </div>

    <%= render "shared/dashboard_footer" %>

    <% if current_user.present? and current_user.first_login? %>
      <%= render "shared/walk_through" %>
    <% end %>


    <!-- Google Code for Remarketing tag -->
    <!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 990314665;
      var google_conversion_label = "p4YECM_J6gQQqYGc2AM";
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/990314665/?value=0&amp;label=p4YECM_J6gQQqYGc2AM&amp;guid=ON&amp;script=0"/>
      </div>
    </noscript>

  </body>
</html>