<!DOCTYPE html>
<html>
  <head>
    <title>
      Robocent
      <%= yield :title %>
    </title>
    <meta name="author" content="ThemeFuse"/>
    <meta name="description" content="RoboCent is one of the nation's largest providers of political and permission-based robocalls. Learn more about our services and create an account in less than 2 minutes!"/>
    <meta name="keywords" content="robocalls, robo calls, robocent, auto dials, autodials, robocall software, autodial software, robo call software, auto dial software, group calling, mass contact, mass call, emergency notification system, notification software, automatic calls, robocall, robo call, auto dial, autodials, political robocalls, cheap robocalls, 1 cent robocalls, 2 cent robocalls, 2 cent autodials, robodials, robo dials, robocaller"/>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|Cutive' rel='stylesheet' type='text/css'/>

    <%= stylesheet_link_tag    "public", :media => "all" %>
    <%= javascript_include_tag "public" %>

    <!--[if IE 7]>
     <link rel="stylesheet" type="text/css" media="screen" href="/assets/ie.css">
    <![endif]-->

    <%= csrf_meta_tags %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32347443-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <link rel="shortcut icon" href="favicon.ico"/>
  </head>
  <body>
    <div class="body_wrap">

      <%= render 'shared/public_top_nav' %>

      <%= yield %>

      <%= render 'shared/public_footer' %>

    </div>
  </body>
</html>
