<!DOCTYPE html>
<html>
  <head>
    <script src="//cdn.optimizely.com/js/183754947.js"></script>
    <title>
      Robocent
      <%= yield :title %>
    </title>

    <%= render "shared/meta_contents" %>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|Cutive' rel='stylesheet' type='text/css'/>

    <%= stylesheet_link_tag    "public", :media => "all" %>
    <%= javascript_include_tag "public" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/"%>
    <%= javascript_tag "Stripe.publishableKey = '#{STRIPE_PUBLIC_KEY}';"; %>

    <!--[if IE 7]>
     <link rel="stylesheet" type="text/css" media="screen" href="/assets/ie.css">
    <![endif]-->

    <%= csrf_meta_tags %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32347443-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <link rel="shortcut icon" href="favicon.ico"/>
  </head>
  <body>
    <div class="body_wrap">

      <%= render 'shared/public_top_nav' %>

      <%= yield %>

      <%= render 'shared/public_footer' %>

    </div>

    <!-- Google Code for Remarketing tag -->
    <!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 990314665;
      var google_conversion_label = "p4YECM_J6gQQqYGc2AM";
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/990314665/?value=0&amp;label=p4YECM_J6gQQqYGc2AM&amp;guid=ON&amp;script=0"/>
      </div>
    </noscript>

  </body>
</html>
